<html lang="en" style='height: 100vh; width: 100vw'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="recklessMFO">
    <title>DropAr</title>
    <!-- Css Main Files -->
    <%= stylesheet_link_tag 'site_styles.css' %> 

    <!-- Js Main Files -->
    <%= javascript_include_tag "jquery.min.js" %>
  </head>

  <body style='margin: 0px'>
    <% if @filter %>
      <a id='IOSLink' rel='ar' href='<%= @filter.usdz_url%>'><img /></a>
      <a id='AndroidLink' href="intent://<%= @filter.glb_url%>;scheme=https;package=com.google.ar.core;action=android.intent.action.VIEW;S.browser_fallback_url=https://dropar.ar;end;"></a>
      <% if @filter.callback_url.present? %>
        <a id='callback' href='<%= @filter.callback_url%>'></a>
      <% else %>
        <a id='callback' href='https://dropar.ar'></a>
      <% end%>
      <div id='droparLoading'>
        <a style='color: white' href='intent://517d3b3f.ap.ngrok.io/examples/assets/Astronaut.glb?link=https://517d3b3f.ap.ngrok.io/examples/augmented-reality.html&amp;title=A3Dmodelofanastronaut#Intent;scheme=https;package=com.google.ar.core;action=android.intent.action.VIEW;S.browser_fallback_url=https://517d3b3f.ap.ngrok.io/examples/augmented-reality.html#model-viewer-no-ar-fallback;end;'> TOMIII </a>
        <div class="isdropAR">
          <%= image_tag("loading-logo.gif", :style => "width: 250px; margin-top: -20%;") %>
        </div>
      </div>
      <%= javascript_include_tag "ar-autoload" %>
    <% end %>
  </body>
</html>
